@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ea19d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #195527;
}

/* .apple-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  background-image: url("./layouts/Dashboard/layouts/baskets/components/Apple.svg")
    no-repeat center center;
  background-size: contain;
  border: none;
}

.apple-checkbox:checked {
  background-image: url("./layouts/Dashboard/layouts/baskets/components/AppleChecked.svg")
    no-repeat center center;
  background-size: contain;
} */
